[package]
name = "hello_world"
version = "0.1.0"
edition = "2021"

[dependencies]
serde_json = "1.0"
elasticsearch = "8.5.0-alpha.1"
tokio = { version = "1.23.0", features = ["rt"] }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

